button, input, select, textarea, .v-label, .v-input {
    font-size: 14px;
}

.v-btn {
    border-radius: 7px;
}

.btn-accent {
    background-color: #3949AB !important;
    color: white !important;
}

.btn-light {
    color: rgba(57, 73, 171, 1) !important;
    background-color: rgba(232, 234, 246, 1) !important;
}