button, input, select, textarea, .v-label, .v-input {
    font-size: 14px;
}

.theme--light.v-label {
    color: rgba(0, 0, 0, 0.87)
}

.v-btn {
    border-radius: 7px;
}

.btn-accent {
    background-color: #3949AB !important;
    color: white !important;
}

.btn-light {
    color: rgba(57, 73, 171, 1) !important;
    background-color: rgba(232, 234, 246, 1) !important;
}

.v-expansion-panel--active > .v-expansion-panel-header {
    min-height: 0;
}

.v-expansion-panel-header, .v-expansion-panel-content {
    color: rgba(96, 96, 96, 1) !important;
    background-color: rgb(246, 246, 246);
    border-color: rgb(246, 246, 246);
}

.v-expansion-panel-content__wrap {
    padding-right: 40px;
}

.v-expansion-panel-content {
    font-size: 12px;
}

.v-input--selection-controls {
    margin-top: 0;
}

